<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-title">
  <meta name="format-detection" content="telephone=no, email=no">
  <meta name="full-screen" content="yes">
  <meta name="imagemode" content="force">
  <meta name="browsermode" content="application">
  <meta name="nightmode" content="disable">
  <meta name="x5-fullscreen" content="true">
  <meta name="x5-page-mode" content="app">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <title>自定义webpack构建</title>
  <script>
    window.PRE_FIX='<%=htmlWebpackPlugin.options.preFix%>'
  </script>
</head>
    <body>
        <div id="app"></div>
    </body>
</html>